@font-face {
  font-family: mc-l;
  src: url(../font/mplus-1m-light.ttf) format("opentype"); }

@font-face {
  font-family: mc-b;
  src: url(../font/mplus-1m-bold.ttf) format("opentype"); }

@font-face {
  font-family: mc-r;
  src: url(../font/mplus-1m-regular.ttf) format("opentype"); }

@font-face {
  font-family: mc-t;
  src: url(../font/mplus-1m-thin) format("opentype"); }

@font-face {
  font-family: mc-m;
  src: url(../font/mplus-1m-medium.ttf) format("opentype"); }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold; }

.vertical {
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl; }

* {
  padding: 0;
  margin: 0; }

.center {
  width: 80%;
  margin: 0 auto; }

.partical {
  width: 90%;
  background-color: #000;
  margin: 10px 0;
  margin: 0 auto; }

.p-v-005 {
  padding: 0.5rem 0rem; }

.p-v-01 {
  padding: 1rem 0rem; }

.p-v-02 {
  padding: 2rem 0rem; }

.p-v-03 {
  padding: 3rem 0rem; }

.p-v-04 {
  padding: 4rem 0rem; }

.p-v-05 {
  padding: 5rem 0rem; }

.p-v-06 {
  padding: 6rem 0rem; }

.p-v-07 {
  padding: 7rem 0rem; }

.p-v-08 {
  padding: 8rem 0rem; }

.p-s-01 {
  padding: 0rem 1rem; }

.p-s-02 {
  padding: 0rem 2rem; }

.p-s-03 {
  padding: 0rem 3rem; }

.p-s-04 {
  padding: 0rem 4rem; }

.p-s-05 {
  padding: 0rem 5rem; }

.p-s-06 {
  padding: 0rem 6rem; }

.p-s-07 {
  padding: 0rem 7rem; }

.p-s-08 {
  padding: 0rem 8rem; }

.p-vs-01 {
  padding: 1rem 1rem; }

.p-vs-02 {
  padding: 2rem 2rem; }

.p-vs-03 {
  padding: 3rem 3rem; }

.p-vs-04 {
  padding: 4rem 4rem; }

.p-vs-05 {
  padding: 5rem 5rem; }

.p-vs-06 {
  padding: 6rem 6rem; }

.p-vs-07 {
  padding: 7rem 7rem; }

.p-vs-08 {
  padding: 8rem 8rem; }

body {
  font-family: "yu gothic", sans-serif;
  font-size: 14px;
  color: #222222;
  background-color: #fff; }

::-moz-selection {
  background-color: #ff0033; }

::selection {
  background-color: #ff0033; }

::-moz-selection {
  background-color: #ff0033; }

header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 100;
  position: relative;
  top: 0; }
  header h1 {
    text-align: center; }
    header h1 img {
      width: 200px;
      padding-top: 50px; }
  header nav {
    width: 600px;
    padding-top: 30px;
    margin: 0 auto 0px;
    overflow: hidden;
    font-family: "Yu Gothic", YuGothic;
    background-color: #fff;
    font-weight: bold; }
    header nav ul {
      background-color: #fff; }
      header nav ul li {
        float: left;
        list-style-type: none;
        padding-left: 80px;
        letter-spacing: 4px; }
        header nav ul li:first-child {
          padding-left: 0px; }
        header nav ul li a {
          display: block;
          text-decoration: none;
          color: #000; }
  header .namis {
    position: absolute;
    bottom: -125px;
    z-index: 100; }
  header .clear {
    clear: both; }

.main-visual {
  background-image: url(../img/top/akamon.jpg);
  background-size: cover;
  background-position: center -300px;
  position: relative;
  background-color: #e0f2f2;
  height: 520px;
  overflow: hidden;
  margin-top: 100px; }

.title {
  width: 600px; }

.about {
  text-align: center;
  background-color: #f8f8f8;
  font-family: "Yu Gothic", YuGothic; }
  .about .text {
    margin-top: 100px;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 4px;
    font-weight: bold; }
  .about .text2 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 4px;
    font-weight: bold; }
    .about .text2 .comment {
      font-size: 26px; }
  .about .map {
    margin-top: 80px;
    width: 100%;
    height: 80px;
    background-image: url(../img/top/map.png);
    background-size: cover; }

.jiku {
  width: 100%;
  background-color: #f8f8f8;
  padding: 100px 0px; }
  .jiku .jiku-inner {
    width: 1054px;
    margin: 0px auto 0;
    text-align: center;
    overflow: hidden;
    background-color: #f8f8f8; }
    .jiku .jiku-inner .space {
      margin-top: 70px;
      width: 400px;
      text-align: center;
      padding: 0 50px;
      float: left; }
      .jiku .jiku-inner .space img {
        width: 328px;
        margin-bottom: 40px; }
      .jiku .jiku-inner .space h3 {
        margin-bottom: 20px;
        font-size: 24px;
        letter-spacing: 4px; }
      .jiku .jiku-inner .space .setumei {
        font-weight: bold;
        font-size: 15px;
        line-height: 32px;
        letter-spacing: 3px; }
      .jiku .jiku-inner .space .btn {
        margin-top: 10px;
        display: inline-block;
        width: 200px;
        background-color: #2e3547;
        font-size: 15px;
        color: #fff;
        letter-spacing: 3px;
        text-decoration: none;
        height: 43px;
        line-height: 43px; }

.nozoku {
  text-align: center;
  background-color: #e0f2f2;
  padding-top: 100px;
  font-family: "Yu Gothic", YuGothic; }
  .nozoku .text {
    margin-top: 80px;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 4px;
    font-weight: bold; }

footer {
  width: 100%;
  background-color: #2e3547;
  color: #fff; }
  footer a {
    text-decoration: none;
    color: #fff; }
  footer .inner {
    width: 300px;
    margin: 0 auto; }
    footer .inner ul {
      padding-top: 50px; }
      footer .inner ul li {
        list-style-type: none;
        float: left;
        margin: 0px 15px;
        font-size: 12px;
        letter-spacing: 3px; }
        footer .inner ul li a {
          display: block; }
    footer .inner .sns {
      width: 140px;
      height: 40px;
      display: inline-block;
      line-height: 40px;
      text-align: center;
      letter-spacing: 3px;
      margin-right: 20px;
      margin-top: 40px;
      border-radius: 3px; }
      footer .inner .sns:last-child {
        margin-right: 0px; }
    footer .inner .face {
      background-color: #235a99 !important; }
    footer .inner .twi {
      background-color: #34a1c8 !important; }
  footer .f-copyright {
    width: 260px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 8px;
    overflow: hidden;
    margin-top: 20px; }
    footer .f-copyright .hhn {
      float: left; }
    footer .f-copyright .chanchihiro {
      float: right; }
