//ファイルのインポート
@import 'lib/import';
@import "lib/base";
@import "lib/layout";
@import "lib/mixins";

body {
	font-family: "yu gothic", sans-serif;
	font-size: 14px;
	color: #222222;
}

::selection {
	background-color: #ff0033; //コピーの色を変える
}
::-moz-selection {
	background-color: #ff0033;
}

header {
	width: 100%;
	
}



