doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    title Javascript
  body
    header
     h1
      img(src="img/top/logo.png")
     nav
      ul
       li
        a(href="#")
         |トップ
       li
        a(href="#")
         |コミュニティ
       li
        a(href="#")
         |スタートアップ
       li
        a(href="#")
         |マップ
     img.namis(src="img/top/nami.png")
    div.main-visual
     img(src="img/top/header_bg2.png")
    div.about
     img(src="img/top/gradiation.png")
     h2 本郷ハウスネットワークとは
    footer
    script(src="js/bundle.js")

