doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    link(rel="shortcut icon" href="img/top/logo.png")
    title 本郷ハウスネットワーク
  body
   header
    h1
     img(src="img/top/logo.png")
    nav
     ul
      li
       a(href="index.html")
        |トップ
      li
       a(href="community.html")
        |コミュニティ
      li
       a(href="startup.html")
        |スタートアップ
      li
       a(href="map.html")
        |本郷マップ
    img.namis(src="img/top/nami.png")
    div.clear
   div.main-visual
    img(src="img/top/header_bg2.png")
   div.about
    img(src="img/top/gradiation.png" class="grade")
    h2
     img(src="img/top/title_what.png" class="title")
    div.text
     |本郷ハウスネットワークでは、東大周りに広がる広がる
     br
     |地域に集まるコミュニティやスタートアップを
     br
     |集めて紹介しています。
    div.text2
     |コミュニティの数２１０
     br
     |スタートアップの数１２０と
     br
     |その数は年々ましており、富の分配がうまくいっていない状態です。
     br
     |これからこの本郷からアメリカの
     br
     |シリコンバレーへと続く道を作っていきます。
     br
     br
     span.comment
      |「さあみんな、本郷を歩こう！」
    div.map
   div.jiku
    div.jiku-inner
     h2
      img(src="img/top/title_jiku.png" class="title")
     div.com.space
      img(src="img/top/circle.png")
      h3 本郷コミュニティスペース
      p.setumei 
       |本郷の周りにはいつでも使えるコミュニティスペースが
       br
       |たくさんあることを知っていましたか？
       br
       |本郷のコミュニティスペースでは、そんな場所を
       br
       |紹介しています。
       br
      a(href="#" class="btn") スペースを探す
     div.start_up.space
      img(src="img/top/circle.png")
      h3 本郷スタートアップ
      p.setumei
       |東大生ならではのスタートアップの盛り上がりを
       br
       |ご存知でしょうか？
       br
       |本郷の周りにはそんな東大生が立ち上げ奮闘している
       br
       |スタートアップがたくさんあります。
       br
      a(href="#" class="btn") スタートアップを探す
   div.nozoku
    h2
     img(src="img/top/title_nozoku.png" class="title")
    div.text
     |本郷は今、最高潮に盛り上がっています。
     br
     |コミュニティを少し覗いて見ましょう。
   footer
     div.inner
      .f-menu
       ul
        li
         a(href="#") トップ
        li
         a(href="#") お問い合わせ
        li
         a(href="#") 情報の投稿
      .f-sns
       a(href="#" class="sns twi") twitter
       a(href="#" class="sns face") facebook
     .f-copyright
      p.hhn ©︎本郷ハウスネットワーク
      p.chanchihiro web site by 
       a(href="https://chanchihiro.github.io") chanchihiro
   script(src="js/bundle.js")

