doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    title Javascript
  body
    header
     h1
      img(src="img/top/logo.png")
     nav
      ul
       li
        a(href="#")
        |トップ
       li
        a(href="#")
        |コミュニティ
       li
        a(href="#")
        |スタートアップ
       li
        a(href="#")
        |本郷マップ
    script(src="js/bundle.js")
