doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    link(rel="shortcut icon" href="img/top/logo.png")
    title 本郷ハウスネットワーク|スタートアップ
  body
    header
     h1
      img(src="img/top/logo.png")
     nav
      ul
       li
        a(href="index.html")
         |トップ
       li
        a(href="community.html")
         |コミュニティ
       li
        a(href="startup.html")
         |スタートアップ
       li
        a(href="map.html")
         |マップ
     img.namis(src="img/top/nami.png")
     div.clear
    div.com-about
     h2 本郷コミュニティスペース
     img(src="img/top/point.png")
     p.setumei
     |本郷にはたくさんのコミュニティスペースがあり、
     br
     |それを持ち余しているのが現状です。
     br
     |これらすべてのスペースで会議、ハッカソンなど
     br
     |小規模から大規模の利用が可能です。
    footer
      div.inner
       .f-menu
        ul
         li
          a(href="#") トップ
         li
          a(href="#") お問い合わせ
         li
          a(href="#") 情報の投稿
       .f-sns
        a(href="#" class="sns twi") twitter
        a(href="#" class="sns face") facebook
      .f-copyright
       p.hhn ©︎本郷ハウスネットワーク
       p.chanchihiro web site by 
        a(href="https://chanchihiro.github.io") chanchihiro
    script(src="js/bundle.js")

